body{
    z-index: -1;
    box-sizing: border-box;

}
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.mydiv{
    display: block;
    background-color: rgb(0, 255, 247);
    width: 20%;
}