body{
    z-index: -1;
    box-sizing: border-box;

}
nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 5vh;
}
.mydiv{
    display: block;
    background-color: rgb(173, 168, 168);
    width: 80%;
    margin: 5px;
}
.mydiv a{
    padding: 10px;
}
.box{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 30vh;
    margin: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.049);
}